@import url('https://fonts.googleapis.com/css?family=Lato: 300, 400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
} 
img:hover {
    width: 150%;
    cursor: pointer;
}

body {
    background: linear-gradient(to right,#f70808, #600000);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    letter-spacing: 10px;
    font-weight: bolder;
}

.header {
    background-color: #000000;
    color: white;
    padding: 10px;
    margin-bottom: 8px;
    box-shadow: 0 3px #6a0000;
    width: 100%;
    text-align: center;
    display: inline;
    font-family: 'Lato', sans-serif;
}

.pokeContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

.pokemon {
    background-color: #fd1f1f;
    border-radius: 10px;
    box-shadow: 0 3px rgba(100, 100, 100, 0.5);
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.imgContainer img {
    max-width: 90%;
    margin-top: 20px;
}

.imgContainer:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.31);
}

.info {
    margin-top: 20px;
}

.number {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 2px 13px;
    border-radius: 10px;
    font-size: 0.8rem;
}

.name {
    margin: 15px 0 7px;
    letter-spacing: 1.5px;
}

#search {
    display: block;
    width: 100%;
    color: gray;
    border-radius: 25%;
    padding: 15px;
    box-sizing: border-box; 
}

@media (max-width: 500px) {
    .name {
        font-size: 10px;
        letter-spacing: 0px;
    }
}